.glyphicon {
    margin-right: 4px !important; /*override*/
}
.pagination .glyphicon {
    margin-right: 0px !important; /*override*/
}
.pagination a {
    color: #555;
}
.panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}

.polaroid {
    position: relative;
    width: 220px;
}

.polaroid img {
    border: 10px solid #577492;
    border-bottom: 45px solid #577492;
    -webkit-box-shadow: 3px 3px 3px #577492;
    -moz-box-shadow: 3px 3px 3px #577492;
    box-shadow: 3px 3px 3px #577492;

}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #FFFFFF;
}
.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.hot-container {
    min-height: 100px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

a.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

/* blue button */

a.btn.btn-blue {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

a.btn.btn-blue:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

a.btn.btn-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}

/* red button */

a.btn.btn-red {
    background-color: #E48681;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

a.btn.btn-red:hover {
    background-color: #DA4F49;
    border-color: rgba(0,0,0,0.5);
}

a.btn.btn-red:active {
    background-color: #B32C24;
    border-color: rgba(0,0,0,0.9);
}

