*{
    margin: 0;
    padding: 0;
}
body{
    background:url(../images/bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main{
width:960px;
margin:50px auto;
font-family:raleway;
}

span{
color:red;
}

h2{
background-color: #FEFFED;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px;
}

#login{
margin:0 auto;
width:300px;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 70px;
    background: #ffffff;
}

input[type=text],input[type=password], input[type=email]{
/*width:99.5%;*/
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
}

input[type=submit]{
/*width: 100%;*/
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:15px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
margin-top: 10px;
margin-left: 10px;
}

#profile{
/*padding:50px;*/
/*border:1px dashed grey;*/
font-size:20px;
background-color:#DCE6F7;
}

#logout{
float:right;
}

a{
text-decoration:none;
color: cornflowerblue;
}

i{
color: cornflowerblue;
}

.error_msg{
color:red;
font-size: 16px;
}

.message{
position: absolute;
font-weight: bold;
font-size: 28px;
color: #6495ED;
left: 262px;
width: 500px;
text-align: center;
}

#socialmedia_wrapper{
    margin: 200px;
}

.icon{
    width: 100px;
    height: 100px;

}
.tweet{
    margin-bottom: 10px;
    background-color: #4099FF;
    border:solid 1px;
}

/*-------------------------------------------------------------------*/
/*body {*/
    /*padding-top: 120px;*/
    /*padding-bottom: 40px;*/
    /*background-color: #eee;*/

/*}*/
.btn
{
    outline:0;
    border:none;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    box-shadow:inset 2px -3px rgba(0,0,0,0.15);
}
.btn:focus
{
    outline:0;
    -webkit-outline:0;
    -moz-outline:0;
}
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    margin-top:0px;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}